{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "worker": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": [
    "module"
  ],
  "rules": {
    // Additional & changed default rules
    // 0 => no check
    // 1 => warning
    // 2 => error
    "comma-dangle": [2, "only-multiline"],
    "no-regex-spaces": 1,
    "no-unused-expressions": 1,
    "no-delete-var": 1,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "consistent-this": [2, "self"],
    "func-names": 0,
    "func-style": 0,
    "no-inline-comments": 0,
    "no-underscore-dangle": [1], // , {"allowAfterThis": true}
    "one-var": 0,
    "padded-blocks": 0,
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "quote-props": [2, "consistent-as-needed"],
    "semi": [2, "always"],
    "no-console": [1, {
      "allow": ["error"]
    }],
    "camelcase": [2, {"properties": "never"}],
    "sort-vars": 0,
    "spaced-comment": [2, "always", {
      "block": {
        "exceptions": ["-"]
      }
    }],
    "no-case-declarations": 1,
    "no-debugger": 1
  }
}